<html>

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body class="bg-info container">
  <div class="d-flex justify-content-around mt-2">
    <h1>Carrito</h1>
  </div>
  <div>
    <h4>Productos cargados</h4>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Descripcion</th>
          <th>Imagen</th>
          <th>Cantidad</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody id="productosCarrito">

      </tbody>
    </table>
    <button class="btn btn-danger m-3" onclick=realizarCompra()>Realizar compra</button>
    <div>
      <a href='/productos'><button class="btn btn-primary">Productos</button></a>
      <a href='./home'><button class="btn btn-primary">Home</button></a>
    </div>
  </div>
</body>

<script>
  function createNode(element) {
    return document.createElement(element);
  }

  function append(parent, el) {
    return parent.appendChild(el);
  }

  const carritoId = '<%- (user.carrito) %>';

  const quitarProducto = async(id) => {
    const carritoBorrar = 'carrito/borrar/';
    const data = {
      id_carrito: carritoId
    };
    const response = await fetch(`${carritoBorrar}${id}`,{
      method:'DELETE',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    });
    alert("Producto removido");
    window.location.reload();
  }

  const realizarCompra = async() =>{
    const urlCompra = 'carrito/comprar';
    const carritoId = '<%- (user.carrito) %>';
    const data = {
      nombre: '<%- (user.nombre) %>',
      email: '<%- (user.email) %>',
      telefono: '<%- (user.telefono) %>'
    }
    const response = await fetch(`${urlCompra}/${carritoId}`,{
      method:'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    });
    alert("Compra realizada");
  }

  const popularCarrito = async() => {
    const url = 'carrito/listar';
    const carritoId = '<%- (user.carrito) %>';
    const response = await fetch(`${url}/${carritoId}`);
    const responseJson = await response.json(); 
    const productos = responseJson?.data?.items;
    const table = document.getElementById('productosCarrito');
    productos?.map(p => {
      const item = p._id
      let tr = createNode('tr');
      let tdNombre = createNode('td');
      tdNombre.innerHTML = item.nombre;
      let tdPrecio = createNode('td');
      tdPrecio.innerHTML = `$${item.precio}`;
      let tdDescripcion = createNode('td');
      tdDescripcion.innerHTML = item.descripcion;
      let tdImagen = createNode('td');
      let img = createNode('img');
      img.src = item.fotoUrl;
      img.height = '75';
      img.width = '75';
      let tdCantidad = createNode('td');
      tdCantidad.innerHTML = p.cantidad;
      let tdButton = createNode('td');
      let button = createNode('button');
      button.classList.add('btn');
      button.classList.add('btn-danger');
      button.onclick = () => quitarProducto(item._id);
      button.innerHTML = 'Remover';
      append(tr, tdNombre);
      append(tr, tdPrecio);
      append(tr, tdDescripcion);
      append(tdImagen, img);
      append(tr, tdImagen);
      append(tr,tdCantidad);
      append(tdButton,button);
      append(tr, tdButton);
      append(table, tr);
    })
  }

  popularCarrito();
</script>
</html>