<h1>Carrito</h1>
<ul id="carrito"></ul>
<button onclick=submitCarrito()>Realizar pedido</button>
<script>
  const submitCarrito = async() => {
    const data = JSON.stringify({ nombre: "<%= user.nombre %>",email:"<%= user.email%>",telefono: "<%= user.telefono%>"});
    let response = await fetch('carrito/submit/<%= user.carrito%>',{
      method:'POST',
      headers: { 'Content-Type': 'application/json' },
      body: data
    })
    .then(response => response.json())
    .then(data => {
      console.log(data);
    })
  }

  function createNode(element) {
      return document.createElement(element);
    }

    function append(parent, el) {
      return parent.appendChild(el);
    }

    const ul = document.getElementById('carrito');
    const url = 'carrito/listar/<%= user.carrito%>'

    fetch(url)
      .then((resp) => resp.json())
      .then(function (data) {
        let productos = data.carrito.productos;
        const urlProductos = 'productos/listar/';
        return productos.map(function (producto) {
          fetch(`${urlProductos}${producto}`)
          .then((resp) => resp.json())
          .then((data) => {
            console.log(data.producto.nombre);
            let li = createNode('li');
            li.innerHTML = data.producto.nombre;
            append(ul, li);
          })
        })
      })
      .catch(function (error) {
        console.log(error);
      });
</script>